.nav {
  width: 100vw;
  height: 10vh;
}

.navbar {
  display: flex;
  list-style: none;
  justify-items: center;
  align-items: center;
  padding: 0;
  font-size: 1.2rem;
}
.navItem {
  margin: 1rem 1rem;
  cursor: pointer;
}
.usernameBtn {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: var(--white);
}

.username {
  font-size: 1rem;
}

.navDropdown {
  position: absolute;
  margin-left: auto;
  margin-top: 0.5rem /* 8px */;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  padding-right: 0.5rem;
  background-color: var(--black50);
  border-width: 1px;
  color: var(--white);
  border-radius: 0.25rem /* 4px */;

  border-color: var(--blue);

  box-shadow: var(--shadow30, 0 0 #0000), var(--ring-shadow, 0 0 #0000),
    var(--shadow30);
}

.linkName {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  display: block;
  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;

  font-size: 1rem /* 16px */;
  line-height: 1.25rem /* 20px */;
  border-radius: 0.25rem /* 4px */;
  cursor: pointer;
}

.linkName:hover {
  text-decoration: underline;
}

.lineWrapper {
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
}

.navButtons {
  color: white;
  font-weight: 600;
}

/** Breakpoints:
  sm: min-width: 640px;
  md: min-width: 768px;
  lg: min-width: 1024px;
  xl: min-width: 1280px;
  2xl: min-width: 1536px;
**/
@media only screen and (min-device-width: 640px) {
  .navItem {
    margin: 1rem 2rem;
    cursor: pointer;
  }
}
@media only screen and (min-device-width: 768px) {
  .navItem {
    margin: 1rem 2rem;
    cursor: pointer;
  }
}
@media only screen and (min-device-width: 1024px) {
  .navItem {
    margin: 1rem 2rem;
    cursor: pointer;
  }
}
@media only screen and (min-device-width: 1280px) {
  .navItem {
    margin: 1rem 3rem;
    font-size: 1rem;
    cursor: pointer;
  }
}
@media only screen and (min-device-width: 1536px) {
}

.push {
  margin-left: auto;
}
